/*******************************************************/
/*                  GLOBAL STYLES                      */
/*******************************************************/

body.rick-and-morty{
    background: url(../img/rick-and-morty-portal.jpg) top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/*******************************************************/

/*******************************************************/
/*                  NAVBAR STYLES                      */
/*******************************************************/

.navbar .navbar-brand{
    color: #ffffff;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.navbar ul li a:link{
    text-decoration: none;
    color: #ffffff;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.navbar ul li a:hover,
.navbar ul li a:focus{
    background-color: transparent;
}

/*******************************************************/

/*******************************************************/
/*                  HEADER STYLES                      */
/*******************************************************/

header{
    background-color: transparent;
}

header img{
    display: block;
    margin: 0 auto;
    padding-top: 50px;

}

/*******************************************************/

/*******************************************************/
/*                  ARTICLE STYLES                     */
/*******************************************************/

section{
    margin: 10px 0;
}

.article-box{
    background-color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 10px;
}

.article-box h2{
    text-align: center;
    color: #00afc7;
    text-shadow:
    -1px -1px 0 #c9df4e,
    1px -1px 0 #c9df4e,
    -1px 1px 0 #c9df4e,
    1px 1px 0 #c9df4e;
}

.article-box img{
    width: 200px;
    margin-right: 20px;
}

.article-box .character-box{
    margin: 10px 0;
}

.article-box .img-characters{
    width: 150px;
}
